.section {
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 0 5px #ddd;
}

.section__header {
  font-size: 20px;
  margin: 0px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 767px) {
  .section__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.section__title {
  margin: 0;
  font-size: 20px;
}

.section__body {
  padding: 20px;
}
