@media (max-width: 767px) {
  .buttons {
    flex-basis: 100%;
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }
}

.buttons {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.buttons__button {
  background: none;
  border: none;
  color: rgb(0, 128, 128);
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  transition: color 0.5s;
  user-select: none;
}

.buttons__button:hover {
  transition: 1s;
  color: rgb(1, 180, 180);
}

.buttons__button:disabled {
  color: rgb(204, 204, 204);
  cursor: default;
}
